################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jpeg/surfer.jpg
/jpeg/report_sander_stuijk.pdf
/jpeg/ref.bmp
/.vs
/jpeg/surfer.jpg.bak
/jpeg/in_truncated.jpg.bak
/jpeg/in_truncated.jpg
/jpeg/jpeg_compsoc/binary.pnm
/jpeg/jpeg_compsoc/jpeg_mb1/actor_benchmark.c
/jpeg/jpeg_compsoc/WhatsApp-pixel.jpeg
/jpeg/jpeg_compsoc/tim_pum_ref.pnm
/jpeg/jpeg_compsoc/timonpumba.jpg
/jpeg/jpeg_compsoc/results_perf_idle
/jpeg/jpeg_compsoc/results_perf_altorder
/jpeg/jpeg_compsoc/results_perf_322_altorder
/jpeg/jpeg_compsoc/results_perf_322
/jpeg/jpeg_compsoc/results_perf_2tokens
/jpeg/jpeg_compsoc/results_perf_222_altorder
/jpeg/jpeg_compsoc/results_perf_111tokens_altorder
/jpeg/jpeg_compsoc/results_perf_111
/jpeg/jpeg_compsoc/results_orig_actors
/jpeg/jpeg_compsoc/results_original_actors.rar
/jpeg/jpeg_compsoc/results_original.rar
/jpeg/jpeg_compsoc/results_original
/jpeg/jpeg_compsoc/results_fifo_322
/jpeg/jpeg_compsoc/results_fifo_111tokens_altorder
/jpeg/jpeg_compsoc/results_fifo_111
/jpeg/jpeg_compsoc/results_balanced.xlsx
/jpeg/jpeg_compsoc/results_balanced(1).xlsx
/jpeg/jpeg_compsoc/results_act_fifo_2tokens
/jpeg/jpeg_compsoc/results_act_fifo
/jpeg/jpeg_compsoc/results_actors_orig_mb3.rar
/jpeg/jpeg_compsoc/results_actors_orig_mb3
/jpeg/jpeg_compsoc/resultsDP.zip
/jpeg/jpeg_compsoc/resultsDP
/jpeg/jpeg_compsoc/results.old
/jpeg/jpeg_compsoc/original-jpeg
/jpeg/jpeg_compsoc/binary.bmp
/jpeg/desktop.ini
/jpeg/Benchmark_DP.xlsx
/jpeg/Benchmark.xlsx
/jpeg/jpeg_compsoc/jpeg_mb1/raster_dma.c
/jpeg/jpeg_compsoc/jpeg_mb1/binary_delay.bmp
/jpeg/jpeg_compsoc/jpeg_mb1/binary.bmp
/jpeg/jpeg_compsoc/gold/response_noise_original_mb3.txt
/jpeg/jpeg_compsoc/results_perf_mword
